
<div class="divMain">
<h1 class="titleMain">Por la Creacion de los Mundos Posibles</h1>
<h2 class="subtitleMain" > Escultismo Critico Popular</h2>
<p class="bodyMain"></p>
</div>

<img src="/img/hero-image.web" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Ultimas Entradas</h2>
  
  
  <ul class="article-ul">

<% data.forEach(post => { %>

   <li>
        <a href="#">
            <span><%= post.title %></span>
            <span class="artitle-list__date"> <%= post.createdAT %></span>
        </a>
    </li>

<% }) %>

  </ul>

<a href="#" class="pagitnation"> &lt; Entredas Antiguas</a>
  </section>