



<footer class="footer">
    &copy; <%= new Date().getFullYear(); %> Comunidad Crítica de Escultismo Popular, A. C.

    <a href="/politica" class="politica">Política de privacidad</a>
    <a href="/transparencia" class="transparencia">Transparencia</a>
</footer>