


<header class="navg1p">
<a href="/" class="header__logo"></a>

<nav class="navg1p"__nav">
<ul>
    <li>
<a href="../G1P/grupoprimero.ejs" class="">Grupo Primero</a>
    </li>

    <li>
<a href="../G1P/comunidades.ejs" class="">Comunidades</a>
    </li>
  <li>
<a href="../G1P/recursos.ejs" class="">Centros de Escultistas</a>
    </li>

  <li>
<a href="../G1P/educadores.ejs" class="">Contacto</a>
    </li>


</nav>
</header>